* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Amatic SC", sans-serif;
  height: 100vh;
  background: #ebc84a;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1.25px;
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

h1 {
  text-align: center;
  font-size: 25rem;
}

.img--1 {
  position: absolute;
  transform: translateX(-90%);
  z-index: -1;
}

.img--2 {
  position: absolute;
  transform: translateX(80%);
  z-index: -1;
}

.img--3 {
  position: absolute;
}

.img--4 {
  position: absolute;
  bottom: -3%;
  right: -1%;
  z-index: -1;
  width: 300px;
  height: 300px;
}

.img--5 {
  position: absolute;
  bottom: 0;
  left: 1%;
  z-index: -1;
  width: 300px;
  height: 300px;
}

.corn {
  background-color: #ffba08;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  left: 4%;
  top: 15%;
  filter: blur(3px);
}

.discover-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  font-size: 2.4rem;
  position: absolute;
  top: 85%;
  border: 1px solid black;
  border-radius: 50%;
}

.circle {
  position: absolute;
  transform: translate(56rem, -15em);
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1.2rem;
}

nav div,
h2 {
  flex-basis: 35rem;
}

nav button {
  margin: 0 auto;
  width: 50%;
  height: 4.5rem;
  background-color: transparent;
  cursor: pointer;
}

nav h2 {
  font-size: 4.4rem;
  text-align: center;
}

nav div {
  display: flex;
  column-gap: 3.2rem;
}

nav a {
  font-size: 2.6rem;
  text-decoration: none;
  color: black;
}
